*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #003cffd3;
}
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
  width: 20rem;
  height: 20rem;
}
.firstcircle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: #fff;
}
.secondcircle{
    position: relative;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    background-color: #003cffd3;

}
.hand{
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

}
